/***********************
    GENERALS RULES
************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.2rem;
}

/***********************
    //GENERALS RULES
************************/

/***********************
    UTILITIES
************************/
.flex {
    display: flex;
}

/***********************
    //UTILITIES
************************/
.container {
    max-width: 1000px;
    margin: 0 auto;
}

#carousel {
    height: 50vh;
    position: relative;
    text-align: center;
}

.image-container {
    height: 100%;
    position: relative;
}

.image-container .item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}

.image-container .item.active {
    display: inline-block;
}

#carousel button {
    width: 50px;
    height: 50px;
}

#next-btn {
    position: relative;
    top: 0;
    transform: translateY(100%);
    z-index: 2;
}

#previous-btn {
    position: relative;
    transform: translateY(-100%);
    z-index: 2;
}